<h1>name is {{name}}</h1>
<h1>team is {{team}}</h1>
<h1>runs scored {{runs}}</h1>
<input type ="email" value = "{{email}}" >
<input type ="email" [value] = email (change) = "play()">
<!--<input type ="email" [value] = email (change) = "sendText($event)"> -->
<p>
  Start editing to see some  happen :)
</p>
<label>Property Binding   </label>
<button [disabled] = flag (click) ="play()">click me</button>
<br>
<label>Interpolation  </label>
<button disabled = "{{flag}}" (click) ="play()">click me</button>

<br>

<label>Ng Model</label>
<br>
<input type="text" [(ngModel)]="pSongs" placeholder="songs">
<hr>
<app-hello></app-hello>